body {
  background-color: #F4F4F4;
  font-family: "Helvetica Neue", sans-serif;
}

.container-fluid {
  margin-top: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 5px;
  background-color: #F8ECE0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

span {
  font-size: 15em;
  font-weight: bold;
  color: #FE8D7A;
}

small {
  color: #F36F5E;
}

footer {
    text-align: center;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #FE8D7A;
  }

  footer a{
    text-decoration: none;
    color: #F36F5E;
  }
  



  /* Estilos para dispositivos móviles */
@media (max-width: 480px) {
    /* Estilos CSS para dispositivos móviles */

    .row{
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .num{
        font-size: 10em;
    }
  }


 

  /* Estilos para tabletas y iPads */
@media (min-height: 700px) and (max-height: 1400px) {
    /* Estilos para dispositivos de tamaño mediano */

    .num{
        font-size: 8em;
    }
  }
  
  
  